*{
    font-family: 'Space Mono', monospace;
}

#jumbotron {

    background-color: rgb(44, 44 ,44);
    height: 200px;
    text-align: right;
    color: rgb(199, 199, 199);
    margin-right: 20%;
    box-shadow: 10px 10px 10px black;
    padding-right: 2%;
}

iframe {

    border-radius: 50px;
    zoom: 1;
}

body {

    background-color: grey;

}

header {

    font-size: 150px;

}

