*{
    
    font-family: 'Space Mono', monospace;
}

#jumbotron {

    background-color: rgb(44, 44 ,44);
    height: 200px;
    text-align: right;
    color: rgb(199, 199, 199);
    margin-right: 20%;
    box-shadow: 10px 10px 10px black;
    padding-right: 2%;
}

body {

    background-color: grey;
}

header {

    font-size: 75px;
    color: rgb(226, 226, 226);
    float: right;
    font-size: 75px;
}

.col-md-6{

    margin-top: 20%;    
}

iframe{

    padding: 50px;
}


