* {

    font-family: 'Space Mono', monospace;
}

.jumbotron {

    background-color: rgb(44, 44, 44);
    height: 200px;
}

.col-md-4 {
    
    margin: 75px;
    margin-left: 25%;
    margin-top: -475px;
    font-size: 20px;
    padding: 18px;
    
}

#bioParagraph {

    border-radius: 30px;
    font-size: 25px;
    border: 3px solid black;
    margin-left: 28%;
    margin-top: -15%;
}

#headLineName {

    color: rgb(207, 207, 207);
    float: left;
    font-size: 75px;
    padding: 20px;
}


img {

    opacity: .80;
    height: 500px;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 10px 10px 10px black;
}


img:hover {

    opacity: 100;
    border: 5px solid rgb(44, 44, 44);
    box-shadow: 15px 15px 15px black;
}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
}

a {
    margin: 100px;
}

#imagePlacement{

    margin: 5%;
}










