* {

    font-family: 'Space Mono', monospace;
}

body {

    height: 100%;
}

.jumbotron {

    height: 200px;
}

.col-md-4 {
    
    margin: 75px;
    margin-left: 25%;
    margin-top: -475px;
    font-size: 20px;
    padding: 18px;
    
}

#bioParagraph {

    border-radius: 30px;
    zoom: 1.1;
    font-size: 25px;
}

#headLineName {

    color:darkslateblue;
    float: left;
    font-size: 75px;
    padding: 20px;
}

img {

    opacity: .80;
    height: 500px;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 10px 10px 10px black;
}

.col-sm-8 {

    margin-top: 40px;
}

img:hover {

    opacity: 100;
    border: 10px solid rgb(44, 44, 44);
    box-shadow: 15px 15px 15px black;
}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

a {
    padding: 20px;
}










